<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadaBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="metadaBehavior0" name="ServiceMtk_P1_040.Matematika">
                <endpoint address="http://localhost:1907" binding="mexHttpBinding"
                    bindingConfiguration="" name="EndpointService" contract="ServiceMtk_P1_040.IMatematika" />
                <endpoint binding="basicHttpBinding" bindingConfiguration=""
                    name=" EndpointService" contract="ServiceMtk_P1_040.IMatematika" />
            </service>
        </services>
    </system.serviceModel>
</configuration>